# cd to folder you want to add the submodule and then run this command
# git submodule add https://github.com/DrPheltRight/jquery-caret.git

[submodule "ext/js-base64"]
	path = ext/js-base64
	url = https://github.com/dankogai/js-base64.git
[submodule "ext/JSON-js"]
	path = ext/JSON-js
	url = https://github.com/douglascrockford/JSON-js.git
[submodule "jq-ext/jquery-cookie"]
	path = jq-ext/jquery-cookie
	url = https://github.com/carhartl/jquery-cookie.git
[submodule "jq-ext/jquery-caret"]
	path = jq-ext/jquery-caret
	url = https://github.com/DrPheltRight/jquery-caret.git
[submodule "jq-ext/blockui"]
	path = jq-ext/blockui
	url = https://github.com/malsup/blockui.git
[submodule "jq-ext/jq-form"]
	path = jq-ext/jq-form
	url = https://github.com/malsup/form.git
[submodule "ext/uri-js"]
	path = ext/uri-js
	url = https://github.com/medialize/URI.js.git